<a href="https://colab.research.google.com/github/SLCFLAB/Data-Science-Python/blob/main/Day%201/1_1.%20python%20basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python basic

### Reference
점프 투 파이썬 02장: 파이썬 프로그래밍의 기초, 자료형 https://wikidocs.net/11

### 입력

In [1]:
name = input("이름: ") #문자열 입력
age = int(input("나이: ")) #정수 입력

이름: 우진
나이: 25

In [2]:
#여러개 한번에 입력받기
str_list = input('문자열을 입력해주세요: ').split()
print(str_list)

문자열을 입력해주세요: hello
['hello']

### 형식에 맞춘 출력
* %s: 문자열, %d: 정수, %f: 실수
* %.2f: 소수 둘째자리까지 출력
* %03d: 정수를 3칸에 맞추어 출력하는데 앞의 빈칸은 0으로 채워서 출력
* "".format(...): {}로 지정한 곳이 대응됨

In [3]:
print('오늘은 %s요일. %d월 %d일입니다.'%('월',3,22))
print('오늘은 {0}요일. {1}월 {2}일입니다.'.format('월',3,22))
print('오늘은 {day}요일. {month}월 {date}일입니다.'.format(day='월',month=3,date=22))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

오늘은 월요일. 3월 22일입니다.
오늘은 월요일. 3월 22일입니다.
오늘은 월요일. 3월 22일입니다.
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------

## int, float, bool

In [4]:
print(type(3))
print(type(0x15)) #16진수의 int형 자료
print(int(False))
print(int(4.9))
print(int("1000",3)) #1000을 3진수로 출력

<class 'int'>
<class 'int'>
0
4
27

In [5]:
print(type(3.125))
print(float(7))
print(float(True))
print(float("nan"), float("inf"))
print(type(3.0+1)) #float+int 결과는 float

<class 'float'>
7.0
1.0
nan inf
<class 'float'>

In [6]:
a=1
print(type(a<0))
print(a>0)

<class 'bool'>
True

In [7]:
True + True  #True:1, False:0 
print(True * False)

0

In [8]:
print(bool(0), bool("")) #0, empty string/list는 False 
print(bool(1), bool(-3), bool(2))

False False
True True True

### *format()

In [9]:
print("{0:.3f}".format(8.3/2.7))
y = 2.5*4.8 
print("{0:.1f}".format(y))
r = 8/float(3)
print("{0:.2f}".format(r))
print("{0:.4f}".format(8.0/3))

3.074
12.0
2.67
2.6667

### *math module

In [10]:
from math import exp, log, sqrt
print("{0:.4f}".format(exp(3)))
print("{0:.2f}".format(log(4)))
print("{0:.1f}".format(sqrt(81)))

20.0855
1.39
9.0

## String 
split, join, replace, upper, lower, capitalize

In [11]:
string1 = "My name is woojin Jeong"
str1 = string1.split() #default: " "
str2 = string1.split(" ", 2) #처음 두번만 분할
print(str1)
print(str2)

['My', 'name', 'is', 'woojin', 'Jeong']
['My', 'name', 'is woojin Jeong']

In [12]:
string2 = "1+2=3"
str3 = string2.split("=")
print(str3)

['1+2', '3']

In [13]:
print(" ".join(str1))
print("@".join(str1))

My name is woojin Jeong
My@name@is@woojin@Jeong

In [14]:
a = 'My name is'
name = "Woojin Jeong"

In [15]:
a+" "+name

'My name is Woojin Jeong'

In [16]:
str4 = string1.replace(" ", "???", 3)
print(str4)

My???name???is???woojin Jeong

In [17]:
print(string1.upper())
print(string1.lower())
print(string1.capitalize())

MY NAME IS WOOJIN JEONG
my name is woojin jeong
My name is woojin jeong

## List
len, max, min, count, append, pop, sort, ...

In [18]:
a_list = [1,2,2,3,3,3,4,4,4,4]
print("a_list has {} elements.".format(len(a_list)))
print("max value of a_list is {}.".format(max(a_list)))
print("min value of a_list is {}.".format(min(a_list)))
print("3 is in a_list {} times".format(a_list.count(3)))

a_list has 10 elements.
max value of a_list is 4.
min value of a_list is 1.
3 is in a_list 3 times

In [19]:
s = 'show how to index into sequences'.split()
print(s)
print(s[0], s[-1], s[-2])
print(s[1:3])
print(s[:-2])
print(s[2:])

['show', 'how', 'to', 'index', 'into', 'sequences']
show sequences into
['how', 'to']
['show', 'how', 'to', 'index']
['to', 'index', 'into', 'sequences']

In [20]:
a_list = [1,2,2,3,3,3,4,4,4,4]
a_list + [5]*5

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

In [21]:
print(2 in a_list)
print(8 in a_list)
print(8 not in a_list)

True
False
True

In [22]:
a = [1, 2, 3]
a.append(4)
print(a)
a.insert(3,5) #index 3에 5 삽입
print(a)
a.remove(2) 
print(a)
a.pop() #마지막 원소 제거
print(a)

[1, 2, 3, 4]
[1, 2, 3, 5, 4]
[1, 3, 5, 4]
[1, 3, 5]

In [23]:
b = [1,4,2,3]
b.reverse()
print(b)
sorted(b)
b.sort()
print(b)

[3, 2, 4, 1]
[1, 2, 3, 4]

In [24]:
m = '나는 파이썬을 잘하고 싶다'
m = m.split()
print(m)
m.sort(key=len)
print(m)

['나는', '파이썬을', '잘하고', '싶다']
['나는', '싶다', '잘하고', '파이썬을']

## tuple

In [25]:
p=1,3,2,5,7
type(p)

tuple

In [26]:
a1=(350)
a2=(350,)
print(type(a1))
print(type(a2))

<class 'int'>
<class 'tuple'>

In [27]:
(a, (b,(c, d))) = (4,(3,(2,1)))
print(a,b,c,d)

4 3 2 1

In [28]:
a, b = 3, 4
print(a, b)
a, b = b, a
print(a, b)

3 4
4 3

In [29]:
tuple("abcde")

('a', 'b', 'c', 'd', 'e')

## Dictionary

In [30]:
grade = {'pey': 10, 'julliet': 99}
print(grade['pey'])
print(grade['julliet'])
print(grade.get('pey'))
print(grade.get('tom'))

10
99
10
None

In [31]:
a = {'alice': [1, 2, 3], 'bob': 20, 'tony': 15, 'suzy': 30}
a['alice'] = 5
print(a)
a.update({'bob':99, 'tony':99, 'kim': 30}) #여러 개 한번에 수정
print(a) 
del a['alice']
print(a)

{'alice': 5, 'bob': 20, 'tony': 15, 'suzy': 30}
{'alice': 5, 'bob': 99, 'tony': 99, 'suzy': 30, 'kim': 30}
{'bob': 99, 'tony': 99, 'suzy': 30, 'kim': 30}

In [32]:
print(a.values())
print(list(a.keys())) #list로 변환

dict_values([99, 99, 30, 30])
['bob', 'tony', 'suzy', 'kim']

In [33]:
a.items() #key, value 쌍을 튜플로 묶음

dict_items([('bob', 99), ('tony', 99), ('suzy', 30), ('kim', 30)])

In [34]:
'alice' in a

False

## if, for, while

In [35]:
h=40
if h>50:
    print("50보다 크면 실행")
elif h<20:
    print("20보다 작으면 실행")
else:
    print("20이상 50이하면 실행")

20이상 50이하면 실행

In [36]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

In [37]:
score=70
message="success" if score>=60 else "failure"
print(message)

success

In [38]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [39]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [40]:
add = 0 
for i in range(1, 11): 
    add = add + i 
print(add)

55

In [41]:
add = 0 
for i in range(1, 11, 2):  #1,3,5,7,9
    add = add + i 
print(add)

25

In [42]:
for i in range(2,10):        # ①번 for문
    for j in range(1, 10):   # ②번 for문
        print(i*j, end=" ") 
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [44]:
t = [1, 5, 7, 33, 39, 52]
for i, v in enumerate(t):
    print("index : {}, value: {}".format(i,v))

index : 0, value: 1
index : 1, value: 5
index : 2, value: 7
index : 3, value: 33
index : 4, value: 39
index : 5, value: 52

In [43]:
while True:
    response = input('숫자를입력하세요:')
    if int(response) % 10 == 0 :
        print('10으로 나눈 나머지가 0입니다.')
        break

숫자를입력하세요:25
숫자를입력하세요:34
숫자를입력하세요:70
10으로 나눈 나머지가 0입니다.

In [ ]:
while True:
    response = input('숫자를입력하세요:')
    result = int(response)%10
    if result == 0 :
        continue
    print('10으로 나눈 나머지가 {}입니다.'.format(result))

### while문 예시 추가
1~100까지 짝수만 더하다가, 합이 1000을 넘으면 멈추기

In [7]:
i=0
result=0

while i<100:
    i+=1
    if i%2==0:
        result+=i
    if result>1000:
        break

print(result)

1056

In [10]:
i=0
result=0

while result<=1000:
    result+=i
    i+=2
        
print(result)

1056

## function

In [45]:
#입력값 없는 함수: 결과값 받을 변수 = 함수이름()
def say():
    return 'Hi'

a = say()
print(a)

Hi

In [46]:
#결과값 없는 함수 = 특정 동작을 실행
def add(a,b):
    print("%d, %d의 합은 %d입니다." %(a,b,a+b))

add(4,5)

4, 5의 합은 9입니다.

In [47]:
print(add(4,5)) #결과값이 none

4, 5의 합은 9입니다.
None

In [48]:
#입력, 결과값 둘다 없는 경우
def say():
    print('Hi')
say()

Hi

In [49]:
def add_many(*args):
    result=0
    for i in args:
        result+=i
    return result

print(add_many(1,2,3))
print(add_many(1,2,3,4,5,6,7,8))

6
36

In [50]:
def say_nick(nick):
    if nick=="바보":
        return
    print("나의 별명은 %s 입니다." %nick)

say_nick('야호')
say_nick('바보')

나의 별명은 야호 입니다.

In [51]:
def double(x):
    """
    보통은 이곳에 함수에 대한 설명을 주석으로 표현
    this function multiplies its input by 2.
    """
    return x*2

print(double(8))

16

In [52]:
g = lambda x: x*2
print(g(8))

16

In [53]:
def fullname(first="what", last="something"):
    print(first+" "+last)

fullname("woojin","Jeong")
fullname("woojin")
fullname("Jeong")
fullname(last="Jeong")
fullname()

woojin Jeong
woojin something
Jeong something
what Jeong
what something

## Class

In [54]:
class Student:
    def __init__(self, name, age): #생성자
        self.name = name
        self.age = age
    def aboutMe(self):
        print("제 이름은 "+self.name + "이고, 제 나이는" +str(self.age)+"살 입니다.")

In [55]:
woojin = Student("정우진", 25) #student 클래스의 객체 생성
woojin.aboutMe()

제 이름은 정우진이고, 제 나이는25살 입니다.

In [56]:
Student.aboutMe(woojin)

제 이름은 정우진이고, 제 나이는25살 입니다.

In [57]:
class Person:
    def __init__(self, name, age, gender):
        self.Name = name
        self.Age = age
        self.Gender = gender
    def aboutMe(self):
        print("저의 이름은 " + self.Name + "이구요, 제 나이는 " + self.Age + "살 입니다.")

class Employee(Person): #직원 클래스는 사람 클래스를 상속받음
    def __init__(self, name, age, gender, salary, hiredate):
        super().__init__(name, age, gender) #부모 클래스의 생성자 호출
        self.Salary = salary
        self.Hiredate = hiredate
    def doWork(self):
        print("열심히 일을 합니다.")
    def aboutMe(self): #부모 클래스의 메소드와 이름은 같지만 다른 함수 구현 가능
        Person.aboutMe(self) #self를 인자로 넣어주어야함
        print("제 급여는 " + self.Salary + "원 이구요, 제 입사일은 " + self.Hiredate + " 입니다.")

In [58]:
woojin = Employee("정우진", "25", "female", "10억", "3월 1일")
woojin.aboutMe()

저의 이름은 정우진이구요, 제 나이는 25살 입니다.
제 급여는 10억원 이구요, 제 입사일은 3월 1일 입니다.