## slide p.23

In [ ]:
string = "a:b:c:d"
string.replace(?, ?, ?)

'a%b%c:d'

In [ ]:
phone = "010-1234-5678"
print(?)

5678

(추가) 다음 코드에서 오류가 발생한 이유는?

In [ ]:
a = (1,3)
a[0]= 4

(추가) nums 리스트에 다음과 같은 데이터가 있을 때 **가장 큰 원소 3개**와 **가장 작은 3개의 원소**을 출력하라.

In [ ]:
nums = [-1, 10, 2, 8, 9, 7, -11, 20, 21, 37, 56, 21, -27]
?

## slide p.30~31

#### 1000이하의 3의 배수 합 구하는 문제

In [ ]:
result = 0
i=0
while i <= 1000:
    ?
print(result)

#### A반 점수의 평균 구하는 문제

In [ ]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum=0
for score in A:
    ?
print(?)

#### 요일별 기온 문제

In [ ]:
weather = ?
for key in weather.keys():
    ?

수
목
토
일

#### 별 출력 문제 (for문)

In [ ]:
n = int(input())
?

5
    *
   ***
  *****
 *******
*********

## slide p.34

In [ ]:
def add_mul(choice, *args):
    if ?: #add
        ?
    elif ?: #mul
        ?
    else:
        result = 'input error'
    return result

print(add_mul('add', 1,2,3,4,5,6))
print(add_mul('mul', 1,2,3))
print(add_mul('div', 4,2))

21
6
input error

## slide p.36

In [ ]:
def f(n):
    ...
    
    return ?

f(10)

55

In [ ]:
def sq(n):
    a=[]
    ...
    
    return a

sq(23)

[1, 4, 9, 16]

In [ ]:
def f(weather):
    a=[]
    ...
    
    return a

In [ ]:
weather = {'월': 25.5, '화': 28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일':33.3}
f(weather)

['수', '목', '토', '일']

### Class

In [26]:
class Calculator:
  def __init__(self):
    self.value = 0

  def add(self, val):
    self.value += val

In [ ]:
# Todo
# UpgradeCalculator 클래스 - Calculator 상속

cal = UpgradeCalculator()
print(cal.add(10))
print(cal.minus(7))

---

In [ ]:
# Todo
# 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어보자. 
# 다음과 같이 동작해야 한다.

cal = MaxCalculator()
cal.add(50)
cal.add(60)

print(cal.value)