### 조건문 if, elif, else

In [19]:
x = -3
if x < 0:
    print('it\'s negative')

it's negative

In [20]:
if x < 0:
    print('It\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or eequal to 5')

It's negative

In [21]:
a = 5; b = 7

In [22]:
c = 8; d = 4

In [23]:
if a < b or c < d:
    print('Made it')

Made it

### for 반복문

In [ ]:
for value in collection:

    # value 를 사용하는 코드

continue, break 예약어

In [24]:
sequence = [1, 2, None, 4, None, 5]

In [25]:
total = 0

In [26]:
for value in sequence:
    if value is None:
        continue  # 건너뛰고 다음 순회로 넘어감
    total += value

In [27]:
total

12

In [28]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break  # for 문을 빠져나감
    total_until_5 += value

In [29]:
total_until_5

13

In [ ]:
#실행되지 않는 예제코드니 실행하지 마세요.
for a, b, c in iterator:
    
    # 실행 내용

In [31]:
for a, b, c in [(1,2,3),(4,5,6)]:
    print(a,c)

1 3
4 6

#### enumerate

In [ ]:
#실행되지 않는 예제코드니 실행하지 마세요.
i = 0

for value in collection:
    # value를 가지고 무언가 한다
    i += 1

enumerate: 순차 자료형에서 현재 아이템의 색인을 함께 처리하고자 할 때 사용 (i, value) 튜플을 반환

In [ ]:
#실행되지 않는 예제코드니 실행하지 마세요. 
for i, value in enumerate(collection):
    #  i, value를 가지고 무언가 한다

순차 자료형에서의 값과 그 위치를 dict에 넘겨주는 예제

In [32]:
some_list = ['foo', 'bar', 'baz']

In [33]:
mapping = dict( (v, i) for i, v in enumerate(some_list))

In [34]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### 리스트 내포, 사전 내포, 세트 내포

리스트 내포 기본 형태

In [ ]:
# 실행되지 않는 코드이니 실행하지 마세요. 
[expr for val in collection if condtion]

반복문으로 구현하면 아래와 같음

In [ ]:
# 실행되지 않는 코드이니 실행하지 마세요. 

result = []
for val in collection:
    if condition:
        result.append(expr)

<문자열 길이가 2 이하인 문자열 제외하고 나머지를 대문자로 바꾸는 예제>

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [ ]:
[x.upper() for x in strings if len(x) > 2]

사전과 세트에 대해서도 리스트 내포와 같은 방식 적용 가능

In [ ]:
# 사전(실행되지 않는 예제 코드)
dict_comp = {key-expr : value-expr for value in collection if condition}

In [ ]:
# 세트(실행되지 않는 예제 코드)
set_comp = {expr for val in collection if condition}

<리스트 내의 문자열들의 길이가 저장된 세트 생성 예제>

In [36]:
unique_lengths = {len(x) for x in strings}

In [37]:
unique_lengths

{1, 2, 3, 4, 6}

<리스트에서 문자열의 위치 저장하고 있는 사전 생성 예제>

In [38]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [39]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [40]:
loc_mapping = dict((val, idx) for idx, val in enumerate(strings))

In [41]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### 중첩된 리스트 내포 
<e가 2개 이상 포함된 이름의 리스트 생성 예제>

In [42]:
# 남녀의 이름 구분 저장
all_data = [['Tom', 'Billy', 'Jefferson', 'Andrew', 'Wesley', 'Steven'], 
           ['Susie', 'Casey', 'Jill', 'Ana', 'Eva', 'Jennifer']]

In [43]:
names_of_interest =[]
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [44]:
names_of_interest

['Jefferson', 'Wesley', 'Steven', 'Jennifer']

In [45]:
# 중첩된 리스트 내포 이용
result = [name for names in all_data for name in names 
          if name.count('e') >= 2]

In [46]:
result

['Jefferson', 'Wesley', 'Steven', 'Jennifer']

<숫자 튜플이 담긴 리스트를 단순한 리스트로 변환하는 예제>

In [47]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [48]:
flattened = [x for tup in some_tuples for x in tup]

In [49]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [51]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### while 반복문

In [52]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [53]:
total

504

### pass

In [54]:
if x < 0:
    print('negative')
elif x == 0:
    # todo: 나중에 뭔가 추가해야 함
    pass
else:
    print('positive')

positive

In [55]:
def f(x, y, z):
    # todo: 이 함수는 구현해야 함
    pass

### range 
연속된 정수의 리스트 생성: range(stop) 또는 range(start, stop[, step])

In [56]:
range(10)

range(0, 10)

In [57]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [58]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

range는 주로 반복문에서 색인 리스트로 사용됨

In [59]:
seq = [4, 3, 9, 1]
for i in range(len(seq)):
    val = seq[i]

In [60]:
# 0 에서 9999까지 숫자 중 3이나 5의 배수 값의 합
sum = 0
for i in range(10000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

sum

23331668

### 삼단 표현

if-else 블록을 한줄로 표현할 수 있도록 함

In [ ]:
#실행X
value = true-expr if condtion else false-expr

아래의 코드와 동일

In [ ]:
#실행X
if condtion:

    value = true-expr
    
else:

    value = false-expr

In [63]:
x = 5
s = 'Non-negative' if x >= 0 else 'Negative'

## 5. 함수

In [64]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

함수호출

In [65]:
my_function(5, 6, z = 0.7)

0.06363636363636363

In [66]:
my_function(3.14, 7, 3.5)

35.49

### 함수의 형태

일반적인 함수

In [67]:
def add(a, b):
    result = a + b
    return result

In [68]:
a = add(3, 4)
print(a)

7

입력값이 없는 함수

In [69]:
def say():
    return('Hi')

In [70]:
a = say()
print(a)

Hi

결괏값이 없는 함수

In [71]:
def add(a, b):
    print("%d , %d의 합은 %d입니다." %(a, b, a+b))

In [72]:
add(3, 4)

3 , 4의 합은 7입니다.

In [73]:
a = add(3, 4)

3 , 4의 합은 7입니다.

In [74]:
print(a)

None

입력값도 결괏값도 없는 함수

In [75]:
def say():
    print("Hi")

In [76]:
say()

Hi

## 입력값의 수가 미정일 때

In [77]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [78]:
result = add_many(1,2,3)
print(result)

6

### 네임스페이스, 스코프, 지역 함수

In [79]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [80]:
a = []
func()

In [81]:
a

[]

In [82]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [83]:
func()

In [84]:
a

[0, 1, 2, 3, 4]

In [85]:
a = None

In [86]:
def bind_a_variable():
    global a
    a = []

bind_a_variable()

In [87]:
a

[]

In [88]:
def outer_function(x, y, z):
    def inner_function(a, b, c):
        pass
    pass

### 여러 값 반환하기

In [89]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [90]:
a, b, c

(5, 6, 7)

In [91]:
return_value = f()

In [92]:
return_value

(5, 6, 7)

In [93]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [94]:
return_value = f()

In [95]:
return_value

{'a': 5, 'b': 6, 'c': 7}

### 익명 함수(람다 함수)

In [96]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [97]:
def add(a, b):
    return a+b

result = add(3,4)
print(result)

7

In [98]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x*2

In [99]:
equiv_anon