## slide p.23

In [28]:
string = "a:b:c:d"
string.replace(":", "%", 2)

'a%b%c:d'

In [29]:
phone = "010-1234-5678"
print(phone[-4:])

5678

## slide p.30~31

In [30]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum=0
for score in A:
    sum += score
print(sum/len(A))

79.0

In [31]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i +=1

print(result)

166833

In [32]:
weather = {'월': 25.5, '화': 28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일':33.3}
for key in weather.keys():
    if(weather[key]>30):
        print(key)

수
목
토
일

## slide p.34

In [33]:
def add_mul(choice, *args):
    if choice=="add":
        result=0
        for i in args:
            result+=i
    elif choice=="mul":
        result=1
        for i in args:
            result*=i
    else:
        result = 'input error'
    return result

print(add_mul('add', 1,2,3,4,5,6))
print(add_mul('mul', 1,2,3))
print(add_mul('div', 4,2))

21
6
input error

## slide p.36

In [34]:
def f(n):
    if(n<=1):
        return n
    else:
        return f(n-1)+f(n-2)
f(10)

55

In [35]:
def sq(n):
    a=[]
    i=1
    while i**2<=n:
        a.append(i**2)
        i+=1
    return a
sq(23)

[1, 4, 9, 16]

In [36]:
def f(weather):
    a=[]
    for key in weather.keys():
        if(weather[key]>30):
            a.append(key)
    return a

In [37]:
weather = {'월': 25.5, '화': 28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일':33.3}
f(weather)

['수', '목', '토', '일']